/target
guest/disk.bin
guest/firmware/*.o
guest/firmware/*.bin
guest/firmware/*.elf
guest/firmware/build
guest/image/disk.img
guest/image/BOOTX64.EFI
guest/image/efi_test/BOOTX64.EFI
guest/image/limine_test/BOOTX64.EFI
guest/image/initramfs/initramfs-linux.img
guest/driver/.driver.mod.cmd
guest/driver/.driver.o.cmd
guest/driver/.modules.order.cmd
guest/driver/driver.mod
guest/driver/driver.o
guest/driver/modules.order
guest/driver/.Module.symvers.cmd
guest/driver/Module.symvers
guest/driver/driver.mod.c
guest/driver/.driver.mod.o.cmd
guest/driver/driver.mod.o
guest/driver/..module-common.o.cmd
guest/driver/.driver.ko.cmd
guest/driver/.module-common.o
guest/driver/driver.ko
acpi/*.hex
acpi/*.aml
ferrum-firmware.log
ferrum-kernel.log
ferrum-host.log
