/target
guest/disk.bin
guest/firmware/*.o
guest/firmware/*.bin
guest/firmware/*.elf
guest/firmware/build
guest/image/disk.img
guest/image/BOOTX64.EFI
guest/image/efi_test/BOOTX64.EFI
guest/image/limine_test/BOOTX64.EFI
acpi/*.hex
acpi/*.aml
*.log